In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
messy_data = pd.read_excel("data/1.-Badly-Structured-Sales-Data-1.xlsx")
messy_data.head()

,Segment>>,Consumer,Unnamed: 2,Unnamed: 3,Unnamed: 4,Consumer Total,Corporate,Unnamed: 7,Unnamed: 8,Unnamed: 9,Corporate Total,Home Office,Unnamed: 12,Unnamed: 13,Unnamed: 14,Home Office Total
0,Ship Mode>>,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN,First Class,Same Day,Second Class,Standard Class,NaN
1,Order ID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA-2011-100293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056,91.056
3,CA-2011-100706,NaN,NaN,129.44,NaN,129.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CA-2011-100895,NaN,NaN,NaN,605.47,605.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
messy_data.columns

Index(['Segment>>', 'Consumer', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Consumer Total', 'Corporate', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Corporate Total', 'Home Office', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Home Office Total'],
      dtype='object')

In [4]:
messy_data.columns = ['Order ID', 'Consumer_First Class', 'Consumer_Same Day', 'Consumer_Second Class', 'Consumer_Standard Class',
       'Consumer Total', 'Corporate_First Class', 'Corporate_Same Day',  'Corporate_Second Class','Corporate_Standard Class',
       'Corporate Total', 'HomeOffice_First Class', 'HomeOffice_Same Day', 'HomeOffice_Second Class',
       'HomeOffice_Standard Class', 'Home Office Total']

In [5]:
messy_data.fillna(0, inplace=True)

In [6]:
messy_data["Segment"] = "0"

In [7]:
cols = messy_data.columns.to_list()
messy_data = messy_data[cols[-1:] + cols[:-1]]
messy_data.set_index("Order ID", inplace=True)

In [8]:
messy_data.drop(["Ship Mode>>","Order ID"] ,inplace=True)

In [9]:
messy_data.head()

,Segment,Consumer_First Class,Consumer_Same Day,Consumer_Second Class,Consumer_Standard Class,Consumer Total,Corporate_First Class,Corporate_Same Day,Corporate_Second Class,Corporate_Standard Class,Corporate Total,HomeOffice_First Class,HomeOffice_Same Day,HomeOffice_Second Class,HomeOffice_Standard Class,Home Office Total
Order ID,,,,,,,,,,,,,,,,
CA-2011-100293,0,0,0,0,0,0.00,0,0,0,0,0.00,0,0,0,91.056,91.056
CA-2011-100706,0,0,0,129.44,0,129.44,0,0,0,0,0.00,0,0,0,0,0.000
CA-2011-100895,0,0,0,0,605.47,605.47,0,0,0,0,0.00,0,0,0,0,0.000
CA-2011-100916,0,0,0,0,0,0.00,0,0,0,788.86,788.86,0,0,0,0,0.000
CA-2011-101266,0,0,0,13.36,0,13.36,0,0,0,0,0.00,0,0,0,0,0.000

In [10]:
messy_data = messy_data.drop(["Consumer Total","Corporate Total","Home Office Total"],axis=1)
messy_data.head()

,Segment,Consumer_First Class,Consumer_Same Day,Consumer_Second Class,Consumer_Standard Class,Corporate_First Class,Corporate_Same Day,Corporate_Second Class,Corporate_Standard Class,HomeOffice_First Class,HomeOffice_Same Day,HomeOffice_Second Class,HomeOffice_Standard Class
Order ID,,,,,,,,,,,,,
CA-2011-100293,0,0,0,0,0,0,0,0,0,0,0,0,91.056
CA-2011-100706,0,0,0,129.44,0,0,0,0,0,0,0,0,0
CA-2011-100895,0,0,0,0,605.47,0,0,0,0,0,0,0,0
CA-2011-100916,0,0,0,0,0,0,0,0,788.86,0,0,0,0
CA-2011-101266,0,0,0,13.36,0,0,0,0,0,0,0,0,0

In [11]:
messy_data = messy_data.apply(pd.to_numeric)

In [12]:
messy_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 823 entries, CA-2011-100293 to Grand Total
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Segment                    823 non-null    int64
 1   Consumer_First Class       823 non-null    float64
 2   Consumer_Same Day          823 non-null    float64
 3   Consumer_Second Class      823 non-null    float64
 4   Consumer_Standard Class    823 non-null    float64
 5   Corporate_First Class      823 non-null    float64
 6   Corporate_Same Day         823 non-null    float64
 7   Corporate_Second Class     823 non-null    float64
 8   Corporate_Standard Class   823 non-null    float64
 9   HomeOffice_First Class     823 non-null    float64
 10  HomeOffice_Same Day        823 non-null    float64
 11  HomeOffice_Second Class    823 non-null    float64
 12  HomeOffice_Standard Class  823 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 90.0+ KB

In [13]:
messy_data['Segment'] = messy_data.apply(lambda x: messy_data.columns[x.argmax()], axis = 1)

In [14]:
messy_data.head()

,Segment,Consumer_First Class,Consumer_Same Day,Consumer_Second Class,Consumer_Standard Class,Corporate_First Class,Corporate_Same Day,Corporate_Second Class,Corporate_Standard Class,HomeOffice_First Class,HomeOffice_Same Day,HomeOffice_Second Class,HomeOffice_Standard Class
Order ID,,,,,,,,,,,,,
CA-2011-100293,HomeOffice_Standard Class,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,91.056
CA-2011-100706,Consumer_Second Class,0.0,0.0,129.44,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
CA-2011-100895,Consumer_Standard Class,0.0,0.0,0.00,605.47,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000
CA-2011-100916,Corporate_Standard Class,0.0,0.0,0.00,0.00,0.0,0.0,0.0,788.86,0.0,0.0,0.0,0.000
CA-2011-101266,Consumer_Second Class,0.0,0.0,13.36,0.00,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000

In [15]:
messy_data["Total"] = messy_data.sum(axis=1)

C:\Users\Admin\AppData\Local\Temp/ipykernel_7076/1309227500.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  messy_data["Total"] = messy_data.sum(axis=1)

In [16]:
messy_data.drop(['Consumer_First Class', 'Consumer_Same Day',
       'Consumer_Second Class', 'Consumer_Standard Class',
       'Corporate_First Class', 'Corporate_Same Day', 'Corporate_Second Class',
       'Corporate_Standard Class', 'HomeOffice_First Class',
       'HomeOffice_Same Day', 'HomeOffice_Second Class',
       'HomeOffice_Standard Class'], axis=1, inplace=True)

In [17]:
messy_data.shape

(823, 2)

In [18]:
segments = messy_data["Segment"].str.split("_")

In [19]:
segments = segments.to_list()

In [20]:
messy_data["Segment"] = [segments[i][0] for i in range(len(segments))]
messy_data["Class"] = [segments[i][1] for i in range(len(segments))]

In [21]:
messy_data = messy_data[["Segment","Class","Total"]]

In [22]:
messy_data.head()

                   Segment           Class    Total
Order ID
CA-2011-100293  HomeOffice  Standard Class   91.056
CA-2011-100706    Consumer    Second Class  129.440
CA-2011-100895    Consumer  Standard Class  605.470
CA-2011-100916   Corporate  Standard Class  788.860
CA-2011-101266    Consumer    Second Class   13.360

In [25]:
segments = messy_data.groupby(["Segment"])["Total"].sum().reset_index()
segments

      Segment        Total
0    Consumer  587302.8760
1   Corporate  121885.9325
2  HomeOffice   74255.0015