In [2]:
import pandas as pd
import numpy as np

In [4]:
filename = "data/4.-Badly-Structured-Sales-Data-4.xlsx"
messy_data = pd.read_excel(filename)

In [8]:
messy_data.head()

,Order ID,Order Date,First Class_Consumer,First Class_Corporate,First Class_Home Office,Same Day_Consumer,Same Day_Corporate,Same Day_Home Office,Second Class_Consumer,Second Class_Corporate,Second Class_Home Office,Standard Class_Consumer,Standard Class_Corporate,Standard Class_Home Office
0,NaN,Segment,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office,Consumer,Corporate,Home Office
1,Order ID,Order Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CA-2011-100293,2013-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.056
3,CA-2011-100706,2013-12-16 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,129.44,NaN,NaN,NaN,NaN,NaN
4,CA-2011-100895,2013-06-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,605.47,NaN,NaN

In [6]:
messy_data.columns

Index(['Unnamed: 0', 'Ship Mode', 'First Class', 'Unnamed: 3', 'Unnamed: 4',
       'Same Day', 'Unnamed: 6', 'Unnamed: 7', 'Second Class', 'Unnamed: 9',
       'Unnamed: 10', 'Standard Class', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [7]:
messy_data.columns = ['Order ID', 'Order Date', 'First Class_Consumer', 'First Class_Corporate', 'First Class_Home Office',
       'Same Day_Consumer', 'Same Day_Corporate', 'Same Day_Home Office', 'Second Class_Consumer', 'Second Class_Corporate',
       'Second Class_Home Office', 'Standard Class_Consumer', 'Standard Class_Corporate', 'Standard Class_Home Office']

In [9]:
messy_data.drop([0,1], inplace=True)
messy_data.set_index(['Order ID','Order Date'], inplace=True)

In [10]:
messy_data.fillna(0, inplace=True)
messy_data.apply(pd.to_numeric)

,,First Class_Consumer,First Class_Corporate,First Class_Home Office,Same Day_Consumer,Same Day_Corporate,Same Day_Home Office,Second Class_Consumer,Second Class_Corporate,Second Class_Home Office,Standard Class_Consumer,Standard Class_Corporate,Standard Class_Home Office
Order ID,Order Date,,,,,,,,,,,,
CA-2011-100293,2013-03-14 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.0000,0.0000,91.0560
CA-2011-100706,2013-12-16 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,129.4400,0.000,0.000,0.0000,0.0000,0.0000
CA-2011-100895,2013-06-02 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,605.4700,0.0000,0.0000
CA-2011-100916,2013-10-21 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.0000,788.8600,0.0000
CA-2011-101266,2013-08-27 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,13.3600,0.000,0.000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
US-2014-166611,2016-03-28 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.0000,68.7420,0.0000
US-2014-167920,2016-12-09 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,1827.5100,0.000,0.000,0.0000,0.0000,0.0000
US-2014-168116,2016-11-04 00:00:00,0.000,0.000,0.000,0.000,8167.420,0.000,0.0000,0.000,0.000,0.0000,0.0000,0.0000
US-2014-168690,2016-01-08 00:00:00,0.000,0.000,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,2.8080,0.0000,0.0000
NaN,Grand Total,20802.173,20792.607,7737.786,8132.409,9907.308,2977.456,49724.2545,35243.231,8791.127,116922.1345,55942.7865,54748.6325

In [11]:
messy_data['Segment'] = messy_data.apply(lambda x: messy_data.columns[x.argmax()], axis = 1)
messy_data["Total"] = messy_data.sum(axis=1)

C:\Users\Admin\AppData\Local\Temp/ipykernel_12320/3473892052.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  messy_data["Total"] = messy_data.sum(axis=1)

In [12]:
messy_data.columns

Index(['First Class_Consumer', 'First Class_Corporate',
       'First Class_Home Office', 'Same Day_Consumer', 'Same Day_Corporate',
       'Same Day_Home Office', 'Second Class_Consumer',
       'Second Class_Corporate', 'Second Class_Home Office',
       'Standard Class_Consumer', 'Standard Class_Corporate',
       'Standard Class_Home Office', 'Segment', 'Total'],
      dtype='object')

In [13]:
messy_data.drop(['First Class_Consumer', 'First Class_Corporate',
       'First Class_Home Office', 'Same Day_Consumer', 'Same Day_Corporate',
       'Same Day_Home Office', 'Second Class_Consumer',
       'Second Class_Corporate', 'Second Class_Home Office',
       'Standard Class_Consumer', 'Standard Class_Corporate',
       'Standard Class_Home Office'], axis=1, inplace=True)

In [14]:
segments = messy_data["Segment"].str.split("_")
segments = segments.to_list()
messy_data["Segment"] = [segments[i][0] for i in range(len(segments))]
messy_data["Class"] = [segments[i][1] for i in range(len(segments))]

In [31]:
messy_data.reset_index(level=0, inplace=True)

In [27]:
messy_data["Order Date"] = pd.to_datetime(messy_data["Order Date"].iloc[:-1])

In [34]:
messy_data.set_index(["Order Date",'Order ID'], inplace=True)

In [39]:
messy_data.head()

                                  Segment    Total        Class
Order Date Order ID
2013-03-14 CA-2011-100293  Standard Class   91.056  Home Office
2013-12-16 CA-2011-100706    Second Class  129.440     Consumer
2013-06-02 CA-2011-100895  Standard Class  605.470     Consumer
2013-10-21 CA-2011-100916  Standard Class  788.860    Corporate
2013-08-27 CA-2011-101266    Second Class   13.360     Consumer